#!/bin/bash

# Uncomment and set this to the directory where you checked out the repo
# export ADNIDB_ROOT=/Users/pauly/tk/vergnet_db/vergnet_db
export ADNIDB_ROOT=/Users/longxie/development/adni_database/vergnet_db

# Set this to 1 if you are running the tool locally (via python api.py)
export ADNIDB_AUTO_LOGIN=1

# Google Credentials .json (only for OAuth)
export ADNIDB_CLIENT_SECRET=$ADNIDB_ROOT/instance/secrets/my_secret.json

# Set this to your LONI credentials
# export ADNIDB_LONI_USERNAME=user@example.com
# export ADNIDB_LONI_PASSWORD=12345

# Set this only if running on a named server (adni.itksnap.org)
export ADNIDB_COOKIE_DOMAIN=

# Create dirs
mkdir -p $ADNIDB_ROOT/instance/secrets $ADNIDB_ROOT/instance/db $ADNIDB_ROOT/instance/scratch $ADNIDB_ROOT/instance/ADNI

